// button

.button {
  padding: 14px 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  border: inherit;
  box-sizing: border-box;
}
