// contacts

.contacts--dark {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding: 26px 20px;
}

.contacts__title {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.contacts__description {
  line-height: 20px;
}

.contacts__map-wrapper {
  display: flex;
  margin: auto;
  background-image: url("../img/location-mobile.jpg");
  background-size: 320px 362px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.contacts iframe {
  border: none;
  display: block;
}


@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: 706px;
    padding: 55px 30px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 26px;
  }

  // .contacts__map-wrapper {
  //   min-height: 400px;
  //   background-image: url("../img/location-tablet.jpg");
  //   background-size: 768px 400px;
  // }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
    width: 1440px;
  }

  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    height: 198px;
    background-color: #ffffff;
    box-sizing: border-box;
  }

  // .contacts__map-wrapper {
  //   background-image: url("../img/location-desktop.jpg");
  //   background-size: 1440px 400px;
  //   background-position: center;
  // }
}
