// filter

.filter {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__title {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
}

.filter__list {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  list-style-type: none;
}

.filter__item {
  padding-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .filter__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .filter__list {
    margin-bottom: 54px;
  }
}
