// line

.line {
  position: relative;
}

.line::before {
  position: absolute;
  content: "";
  top: 50%;
  height: 2px;
  width: 100%;
  background-color: @basic_green;
  z-index: -1;
}

.line__container {
  max-width: 1220px;
  margin: 0 auto;
  // margin-bottom: 35px;
}

.line__title {
  // background-color: #ffffff;
  background-color: #ff6347;
  display: inline-block;
  padding: 0 20px;
  // margin-left: -40px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
  }
}
