// main-footer

.main-footer {
  // padding: 39px 19px 22px;
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 39px 20px 22px;
}

.main-footer__logo {
  display: block;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 708px;
    padding: 58px 30px 55px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    width: 1360px;
    padding: 57px 40px;
  }
}
