.main-header {
  width: 280px;
  padding: 10px 20px 17px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.main-header__logo {
  display: block;
}

.main-header__logo-image {
  margin-right: 57px;
}

@media (min-width: @tablet-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    width: 709px;
    padding: 0 30px;
  }

  .main-header__logo {
    height: 78px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    width: 1220px;
    padding: 0 110px;
  }

  .main-header__logo {
    height: 112px;
  }
}
