// more-goods

.more-goods {
  padding-top: 25px;
  padding-bottom: 19px;
  margin-bottom: 35px;
}

.more-goods__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
}

.more-goods__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.more-goods__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.more-goods__item-title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  color: @special_dark-grey-2;
  text-transform: uppercase;
}

.more-goods__package {
  display: inline-block;
  margin: 0;
  margin-right: 125px;
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey;
}

.more-goods__price {
  display: inline-block;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey;
}

.more-goods__button {
  display: block;
  padding: 10px 20px;
  background-color: @basic_green;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
