// promo

.promo {
  display: block;
  margin-bottom: 20px;
}

.promo__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85),
    rgba(104, 183, 56, 0.85));
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}

.promo__title {
  margin: 0 auto;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.promo__slogan {
  margin: 0 auto;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.promo__button-wrapper {
  width: 280px;
  margin: 0 auto;
}
