// promo

.promo {
  min-width: 320px;
  min-height: 480px;
}

.promo__wrapper {
  background-color: rgba(104, 183, 56, 0.85);
  background-size: 320px 302px;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.promo__subtitle {
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}

.promo__link {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}
