// promo

.promo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  background-image: url("../img/index-background-mobile.png");
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;
  background-size: 320px, 302px;
  background-position: 50% 0;

  @media (min-resolution: 2dppx) {
    background-image: url("img/index-background-mobile@2x.png");
    background-size: 640px auto;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    background-color: #ffffff;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    height: 694px;
    background-image: url("../img/index-background-desktop.png");
    background-position: 100% 0;
    background-size: 720px 694px;
  }
}

// .promo::after {
//   background-color: rgba(104, 183, 56, 0.85);
//   background-image: url("../img/index-background-mobile.png");
//   background-repeat: no-repeat;
//   background-size: 320px, 302px;
//   background-position: 50% 50%;
// }

.promo__wrapper {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 20px;
  // background-color: rgba(104, 183, 56, 0.85);
  color: #ffffff;
}

.promo__info-wrapper {
  // width: 100%;
  padding-top: 27px;
  margin: 0 auto;
  text-align: center;
  // background-color: rgba(104, 183, 56, 0.85);
  // background-image: linear-gradient(rgba(104, 183, 56, 0.85),
  //    rgba(104, 183, 56, 0.85))  url("../img/index-background-mobile.png");
  // background-repeat: no-repeat, no-repeat;
  // background-image: url("../img/index-background-mobile.png");
  // background-repeat: no-repeat;
  // background-size: 320px, 302px;
  // background-position: 50% 50%;
}

.promo__title {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__slogan {
  margin: 0 auto;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.promo__button {
  display: block;
  width: 100%;
  color: #ffffff;
  background-color: @basic_green;
  border: 2px solid #000000;
}

.promo__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  // .promo {
  //   position: relative;
  //   background-color: #ffffff;
  //   background-image: none;
  // }

  .promo__wrapper {
    width: 709px;
  }

  .promo__info-wrapper {
    padding-top: 62px;
    padding-right: 30px;
    padding-bottom: 49px;
    padding-left: 87px;
  }

  .promo__title {
    width: 416px;
    margin: 0;
    margin-bottom: 41px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  .promo__slogan {
    margin: 0;
    margin-bottom: 49px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  .promo__button {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .promo__info-wrapper {
    width: 414px;
    margin: 0;
    padding-left: 80px;
    padding-top: 114px;
    padding-bottom: 52px;
    text-align: left;
  }

  .promo__slogan {
    margin-bottom: 52px;
  }
}
