// slider-comparison

@media (min-width: @tablet-width) {
  .slider-comparison {
    // position: relative;
    // width: 592px;
    // height: 511px;
  }

  .slider-comparison__image--after {
    position: relative;
    height: 511px;
  }

  .slider-comparison__image {
    position: absolute;
    width: 50%;
    overflow: hidden;
  }
}

// .slider-comparison__image {
//   width: 50%;
//   overflow: hidden;
// }

.slider-comparison__image img {
  display: block;
  margin: 0 auto;
}

@media (max-width: @mobile-width-only) {
  .slider-comparison__image--after {
    display: none;
  }
}
