// slider-comparison
@media (max-width: @mobile-width-only) {
  .slider-comparison__image img {
    max-width: 100%;
  }

  .slider-comparison__image--after {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .slider-comparison {
    position: relative;
  }

  .slider-comparison__image img {
    display: block;
    width: 591px;
    height: 511px;
    margin: 0 auto;
  }

  .slider-comparison__image {
    position: relative;
    width: 47%;
    overflow: hidden;
    z-index: 2;
  }

  .slider-comparison__image--after {
    position: absolute;
    width: 100%;
    top: 49px;
    left: 6px;
    z-index: 1;
  }
}
